<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
</head>
<body>
<h3>Enter product's name</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form method="post" th:action="@{/}" th:object="${foundProducts}">
        <div>
            <label> Enter name product:</label>
            <input name="findName" type="text"/>
        </div>
        <input type="submit" value="Find">
    </form>
</div>
</body>
<footer th:replace="layout::footer">
</footer>
</html>